body{
    background-color: aquamarine;
    color: blue;
}
.heading{
    width: 80%;
    font-size: 25px;
    box-shadow: 5px 5px 5px rgb(0, 88, 252);
}
#camera{
border: 2px dashed black;
width: 350px;
height: 300px;

}
.name_of_objects,#result_object_name,#result_object_accurcy
{
    color: pink;
}